html {
    background-image: url("/images/back.jpeg");
    font-family: "Lucida Grande", serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 10% auto 0;
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 75px;
}

.startText {
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 50px;
}

/* Create a flex box for our main container */
.mainContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Give the scale for each button in our main container */
button {
    height: 300px;
    width: 300px;
}

/* Set Properties for our player "console" where we will display results */
#playerConsole {
    font-weight: bolder;
    font-size: 45px;
}

.rules {
    color: yellow;
}

/* Give Backgrounds to our buttons and their circular shape */
button {
    border-radius: 50%;
}

button:hover {
    transform: scale(1.1);
}

#rock img, #paper img, #scissors img {
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}